.modal {
	z-index: 1100 !important;
}

.sortable.grid {
	border: none;
}

.sortable.grid li {
	width: 150px;
	height: 150px;
	position: relative;
}

.sortable.grid li a.edit-media {
	position: absolute;
	top: 10px;
	right: 10px;
}

.sortable.grid li .grid-item {
	width: 132px;
	height: 132px;
	display: inline-block;
	vertical-align: middle;
}

.sortable.grid li .grid-item .grid-item-centerer {
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.sortable.grid li .grid-item img {
	height: auto;
	display: inline-block;
	max-width: 132px;
	max-height: 132px;
	vertical-align: middle;
}

.carousel-view .qq-upload-list {
	display: none !important;
}

#add-media-container {
	opacity: 1;
}

#add-media {
	height: 132px;
	width: 132px;
	display: block;
	vertical-align: middle;
	line-height: 132px;
	color: #ffffff;
	opacity: 1;
	text-decoration: none;
	font-size: 40px;
}

#add-media:hover {
	color: black;
}

#media-type-buttons {
	width: 240px;
	margin: 0 auto;
	height: 120px;
}

#media-type-buttons a {
	width: 100px;
	height: 100px;
	padding: 15px;
	display: block;
	margin: 0 10px;
	text-decoration: none;
	border: 1px solid #485274;
	border-radius: 3px;
	float: left;
}

#upload-image-container, #add-video-url-container {
	display: none;
}

